<div *ngIf="loading">
  <div *ngIf="this.guild">
    <form [formGroup]="chatForm" (ngSubmit)="sendMessage(chatForm.value)">
      <div>
        <h1>Welcome to the guild page of {{this.guild.name}}</h1>
      </div>
      <h1>
        send guild message
      </h1>
      <div>
        <label for="message">
          message
        </label>
        <input id="message" type="text" formControlName="message">
      </div>

      <button class="button" type="submit">Send message</button>

    </form>

    <h1>
      guild messages:
    </h1>
    <div class="item" *ngFor="let item of webSocketAPI.messages">
      <span>{{ item.messageOwner.firstName + ":" }} </span>
      <span>{{ item.message }} </span>
    </div>
    <div>
      <h1>Join this guild</h1>
      <button (click)="joinGuild()">Join guild</button>
    </div>
  </div>

<div>
  <h1>
    Find other guilds:
  </h1>
  <form [formGroup]="findGuildForm" (ngSubmit)="findGuildByName(findGuildForm.value)">

    <div>
      <label for="findguild">
        Find a new guild
      </label>
      <input id="findguild" type="text" formControlName="findguild">
    </div>

    <button class="button" type="submit">Find guild by name</button>

  </form>
</div>
<router-outlet></router-outlet>
</div>
