<form [formGroup]="chatForm" (ngSubmit)="sendMessage(chatForm.value)">

  <h1>
    send guild message
  </h1>
  <div>
    <label for="message">
      message
    </label>
    <input id="message" type="text" formControlName="message">
  </div>

  <button class="button" type="submit">Send message</button>

</form>

<h1>
  guild messages:
</h1>
<div class="item" *ngFor="let item of webSocketAPI.messages">
  <span>{{ item }} </span>
</div>

<div>
  <h1>
    Find other guilds:
  </h1>
  <form [formGroup]="findGuildForm" (ngSubmit)="findGuildByName(findGuildForm.value)">

    <div>
      <label for="findguild">
        Find a new guild
      </label>
      <input id="findguild" type="text" formControlName="findguild">
    </div>

    <button class="button" type="submit">Find guild by name</button>

  </form>
</div>
<router-outlet></router-outlet>
